* {
    margin: 0;
    padding: 0;
}

::selection {
	background: rgb(235,100,160);
}

html, main, body {
	background-color: rgba(181, 200, 199, 0);
}

.navbar {
	align-items: center;
	justify-content: center;
}

#nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	max-width: 1000px;
	width: 100%;
}

#nav-container h3 {
	margin: auto 0 auto 5px;
}

.navbar input {
	max-height: 50px;
	margin: auto 0;
}

.navbar button {
	margin-right: 0px;
}

main {
    display: flex;
	flex-direction: column;
    align-items: center;
    min-height: 80vh;
	margin-top: 20vh;
}

h1 {
	padding-bottom: 50px;
}

#search-container {
	max-width: 1000px;
	width: 100%;
}

.invalid-feedback {
	margin-left: 20px;
	color: white;
	display: block;
}

#weather-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 20px auto;
	max-width: 1000px;
	width: 100%;
}

#weather-container h4 {
	width: 100%;
}

.content-wrapper {
	width: calc(50% - 30px);
	min-width: 300px;
}

#weather-container p {
	width: 100%;
	margin: 0;
}

#real-temp {
	font-size: 75px;
	margin-bottom: 0;
}

#weather-container .btn-group {
	margin: 15px 30px 20px 0;
	width: 100%;
}

#weather-container label {
	font-weight: bold;
	height: 50px;
	max-width: 70px;
}

#weather-container table {
	width: calc(50% - 30px);
}

table {
	min-width: 300px;
}

table td:nth-child(1) {
	width: 30px;
	text-align: center;
}

table td:nth-child(3) { 
	text-align: end; 
}